<template>
    <Header :user="userStore.getUser"></Header>
    <div style="height:75vh" class="gap-6 flex flex-col items-start justify-center w-4/5 m-auto">
        <div>
            <span class="text-4xl text-gray-600 font-extrabold dark:text-white">Toplantı, Oda ya da Sınıf Oluşturun</span>
        </div>
        <div
            class="w-full flex items-center justify-center px-6 py-8 mx-auto lg:py-0 order border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="w-1/2 py-6">
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" name="floating_title" id="floating_email" v-model="room.title"
                        class="block py-2.5 px-0 w-full text-sm text-blue-500 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder="" />
                    <label for="floating_email"
                        class="peer-focus:font-medium absolute text-sm text-blue-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                        {{ parsedSessionType }} ismi
                    </label>
                    <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">{{
                        parsedSessionType }}
                        ismi
                        zorunlu değildir.</p>
                </div>
                <div class="relative z-0 w-full mb-6 group">
                    <input type="text" name="floating_title" id="floating_email" v-model="room.passcode"
                        class="block py-2.5 px-0 w-full text-sm text-blue-500 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
                        placeholder=" " required />
                    <label for="floating_email"
                        class="peer-focus:font-medium absolute text-sm text-blue-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                        {{ parsedSessionType }} parolası</label>
                    <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                        Parola zorunlu değildir.
                    </p>
                </div>
                <span class="text-xl leading-none tracking-tight text-gray-500 dark:text-white">
                    <span
                        class="underline underline-offset-3 text-gray-900 decoration-2 font-medium decoration-blue-500 dark:decoration-blue-600">Toplantı
                        tipi</span>
                </span>
                <fieldset>
                    <div class="flex items-center mt-4 mb-4">
                        <input id="country-option-1" type="radio" name="sessionType" value="standard" v-model="sessionType"
                            class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
                            checked>
                        <label for="country-option-1"
                            class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                            Toplantı
                        </label>
                    </div>

                    <div class="flex items-center mt-4 mb-4">
                        <input id="country-option-1" type="radio" name="sessionType" value="room" v-model="sessionType"
                            class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
                        <label for="country-option-1"
                            class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                            Oda
                        </label>
                    </div>

                    <div class="flex items-center mb-4">
                        <input id="country-option-2" type="radio" name="sessionType" value="class" v-model="sessionType"
                            class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
                        <label for="country-option-2"
                            class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                            Sınıf
                        </label>
                    </div>
                </fieldset>
                <div class="flex items-center justify-end gap-4">
                    <button v-if="sessionType !== 'standard'" @click="() => createRoomAndOpen()"
                        class="text-white float-right bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Oluştur ve Başlat
                    </button>
                    <button @click="() => createRoom()"
                        class="ml-5 text-white float-right bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Oluştur
                    </button>
                </div>

            </div>
            <div class="w-1/2">

                <div class="flex items-center justify-center w-full m-8">
                    <label for="dropzone-file"
                        class="flex flex-col items-center justify-center h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor"
                                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
                                </path>
                            </svg>
                            <p class="p-6 mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">{{
                                parsedSessionType }}
                                    resmini
                                    yüklemek için tıklayın</span> ya da sürükleyip bırakın<br />(Zorunlu değildir)</p>
                            <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                        </div>
                        <input id="dropzone-file" type="file" class="hidden" />
                    </label>
                </div>

            </div>
        </div>
    </div>
</template>

<script setup>
import { useRoomStore } from "@/stores/room";
import { ref, reactive, watch, computed } from "vue"
import Header from "@/components/common/Header.vue";
import { useUserStore } from "@/stores/user";
const userStore = useUserStore()
const roomStore = useRoomStore()
const sessionType = ref('standard')

const parsedSessionType = computed(() => {
    if (sessionType.value === "standard") {
        room.is_temp = true
        room.is_edu = false
        return "Toplantı"
    }
    else if (sessionType.value === "room") {
        room.is_temp = true
        room.is_edu = false
        return "Oda"
    }
    else if (sessionType.value === "class") return "Sınıf"
})
const room = reactive({
    title: '',
    passcode: '',
    is_temp: true,
    is_edu: false
})

const createRoom = async () => {
    await roomStore.createRoom(room, false)
}

const createRoomAndOpen = async () => {
    try {
        await roomStore.createRoom(room, true)
    } catch (error) {
        console.log('err', err)
    }
}
</script>
