<template>
    <h1 class="mb-8 text-xl font-bold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-3xl dark:text-white">
        Profilinizi <span
            class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">Düzenleyin</span>
    </h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Profil Fotoğrafı
                    </th>
                    <td class="px-6 py-4">
                        <!-- <img class="w-16 h-16 rounded" :src="avatarUrl + user.avatar"> -->
                        <img class="w-16 h-16 rounded" src="https://flowbite.com/docs/images/people/profile-picture-2.jpg">
                    </td>
                    <td class="px-6 py-4">
                        <button @click="() => editItem('avatar', 'Profil Fotoğrafı')"
                            class="font-medium text-blue-500 dark:text-blue-600 hover:underline">Düzenle</button>
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        İsim
                    </th>
                    <td class="px-6 py-4">
                        {{ user.name }}
                    </td>
                    <td class="px-6 py-4">
                        <button @click="() => editItem('name', 'İsim')"
                            class="font-medium text-blue-500 dark:text-blue-600 hover:underline">Düzenle</button>
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Soyisim
                    </th>
                    <td class="px-6 py-4">
                        {{ user.lastname }}
                    </td>
                    <td class="px-6 py-4">
                        <button @click="() => editItem('lastname', 'Soyisim')"
                            class="font-medium text-blue-500 dark:text-blue-600 hover:underline">Düzenle</button>
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Email
                    </th>
                    <td class="px-6 py-4">
                        {{ user.email }}
                    </td>
                    <td class="px-6 py-4">
                        <button @click="() => editItem('email', 'E-mail')"
                            class="font-medium text-blue-500 dark:text-blue-600 hover:underline">Düzenle</button>
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Kullanıcı Adı
                    </th>
                    <td class="px-6 py-4">
                        {{ user.username }}
                    </td>
                    <td class="px-6 py-4">
                        <button @click="() => editItem('username', 'Kullanıcı Adı')"
                            class="font-medium text-blue-500 dark:text-blue-600 hover:underline">Düzenle</button>
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Parola
                    </th>
                    <td class="px-6 py-4">
                        ••••••••
                    </td>
                    <td class="px-6 py-4">
                        <button @click="() => editItem('password', 'Parola')"
                            class="font-medium text-blue-500 dark:text-blue-600 hover:underline">Düzenle</button>
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        E-mail Doğrulaması
                    </th>
                    <td class="px-6 py-4">
                    </td>
                    <td class="px-6 py-4">
                    <td v-if="user.verified" class="font-medium text-blue-500 dark:text-blue-600">
                        Doğrulandı
                    </td>
                    <button v-else @click="() => editItem('verified', 'E-mail Doğrulama')"
                        class="font-medium text-blue-500 dark:text-blue-600 hover:underline">Doğrula</button>
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Kullanıcı Tipi
                    </th>
                    <td class="px-6 py-4">
                        <template v-if="user.type === 'normal'">Standart</template>
                        <template v-else-if="user.type === 'student'">Öğrenci</template>
                        <template v-if="user.type === 'teacher'">Öğretmen</template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <!-- profil güncelle modal-->
    <Modal v-if="isModalOpened" @close="() => closeModal()">
        <template #header>
            <div class="flex items-center text-lg">
                Profili Güncelle / {{ modalValue.fieldAlias }}
            </div>
        </template>
        <template #body>
            <div class="sm:grid-cols-2">

                <div>
                    <label :for="modalValue.field"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Kod</label>
                    <input type="text" :name="modalValue.field" v-model="modalValue.value"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        :placeholder="modalValue.fieldAlias + 'bilgisini giriniz..'">
                </div>
            </div>
        </template>
        <template #footer>
            <div class="flex justify-start gap-3">
                <button @click="() => updateField()" type="button"
                    class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Güncelle
                </button>
                <button @click="() => closeModal()" type="button"
                    class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                    Kapat
                </button>
            </div>
        </template>
    </Modal>


    <!-- email doğrulama modal -->
    <Modal v-if="verificationModal && !user.verified" @close="() => verificationModal = false">
        <template #header>
            <div class="flex items-center text-lg">
                {{ modalValue.fieldAlias }}
            </div>
        </template>
        <template #body>
            <div class="sm:grid-cols-2" v-if="DidverificationMailSent">
                <p>Kayıtlı e-mail adresinize bir mail gönderdik. Linke tıklayarak ya da email içinde bulunan kodu girerek
                    doğruma yapabilirsiniz.</p>
                <div>
                    <label :for="modalValue.field"
                        class="my-3 block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Doğrulama kodu:</label>
                    <input type="text" :name="modalValue.field" v-model="modalValue.value"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Doğrulama kodu">
                </div>
            </div>
        </template>
        <template #footer>
            <div class="flex justify-start gap-3">
                <button v-if="DidverificationMailSent" type="button" @click="() => verify()"
                    class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Doğrula
                </button>
                <button type="button" @click="() => sendVerificationCode()"
                    class="text-white bg-blue-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                    :disabled="DidverificationMailSent">
                    Kod Gönder
                </button>
                <button @click="() => verificationModal = false" type="button"
                    class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                    Kapat
                </button>
            </div>
        </template>
    </Modal>
</template>

<script setup>
import { ref, reactive, computed, onMounted } from "vue"
import { Modal } from 'flowbite-vue'
import { useUserStore } from "../../stores/user";
import { initDropdowns } from "flowbite";
import settings from "../../../settings"
const userStore = useUserStore()
const user = computed(() => {
    return userStore.user
})
onMounted(() => {
    initDropdowns();
})
const avatarUrl = settings.FILE_STORAGE_URL + "/images/avatar/"

const isModalOpened = ref(false)
const verificationModal = ref(false)
const closeModal = () => {
    isModalOpened.value = false
}
const modalValue = reactive({
    field: '',
    fieldAlias: '',
    value: ''
})

const DidverificationMailSent = ref(false)

const editItem = (field, alias) => {
    modalValue.field = field
    modalValue.fieldAlias = alias
    if (field === 'verified') {
        modalValue.value = ''
        verificationModal.value = true
    } else {
        modalValue.value = userStore.getUserProperty(field)
        isModalOpened.value = true
    }
}

const updateField = async () => {
    const field = modalValue.field
    const dataToSend = {}
    dataToSend[field] = modalValue.value
    await userStore.updateUser(dataToSend)
}

const verify = async () => {
    try {
        await userStore.verifyEmail(modalValue.value)
    } catch (err) {
    }
}

const sendVerificationCode = async () => {
    try {
        await userStore.resendVerificationCode()
        DidverificationMailSent.value = true
    } catch (err) {

    }
}
</script>