<template>
    <div>
        <div class="bg-zinc-800 flex justify-center w-1/3 h-min m-auto rounded-2xl z-100">
            <div class="flex flex-wrap justify-between items-center w-1/2 py-2">
                <button v-if="isMicOpen" @click="() => mute()" :disabled="!activeSession.userPreferences.mic.isAuthorized">
                    <IconMicrophone :color="activeSession.userPreferences.mic.isAuthorized ? '#ffffff' : '#808080'" />
                </button>
                <button v-else @click="() => unmute()" :disabled="!activeSession.userPreferences.mic.isAuthorized">
                    <IconMicrophoneOff :color="activeSession.userPreferences.mic.isAuthorized ? '#ffffff' : '#808080'" />
                </button>
                <button v-if="isCamOpen" @click="() => closeCam()"
                    :disabled="!activeSession.userPreferences.cam.isAuthorized">
                    <IconCamera :color="activeSession.userPreferences.cam.isAuthorized ? '#ffffff' : '#808080'" />
                </button>
                <button v-else @click="() => openCam()" :disabled="!activeSession.userPreferences.cam.isAuthorized">
                    <IconCameraOff :color="activeSession.userPreferences.cam.isAuthorized ? '#ffffff' : '#808080'" />
                </button>

                <button @click="() => toggleShareScreen()"
                    :disabled="!activeSession.userPreferences.sharingScreen.isAuthorized">
                    <IconShareScreen
                        :color="activeSession.userPreferences.sharingScreen.isActive ? '#ff0000' : '#ffffff'" />
                </button>

                <button @click="() => rightBarToggleFor('participantList')">
                    <IconPeople :color="(rightBar.type === 'participantList') ? '#2563eb' : '#ffffff'" />
                </button>

                <button @click="() => rightBarToggleFor('chat')">
                    <IconChatBaloon :color="(rightBar.type === 'chat') ? '#2563eb' : '#ffffff'" />
                </button>

                <button @click="() => leaveButton()">
                    <IconExit color="#ff0000" />
                </button>
            </div>
        </div>
        <Leave :isApprovedLeaving="isApprovedLeaving" :leaveFunc="leave" :endFunc="endSession" :close="() => {
            isApprovedLeaving = false
        }" />
    </div>
</template>

<script setup>
import { ref, computed } from 'vue';
import IconMicrophone from '../icons/IconMicrophone.vue';
import IconMicrophoneOff from '../icons/IconMicrophoneOff.vue';
import IconCamera from '../icons/IconCamera.vue';
import IconCameraOff from "../icons/IconCameraOff.vue"

import { useRoomStore } from "@/stores/room"
import { useUserStore } from '@/stores/user';

import IconPeople from '../icons/IconPeople.vue';
import IconChatBaloon from '../icons/IconChatBaloon.vue';
import IconShareScreen from '../icons/IconShareScreen.vue';
import Leave from './Leave.vue';

import { WebRTCService as rtc } from "../../services/webrtc"
import IconExit from '../icons/IconExit.vue';

const roomStore = useRoomStore()
const userStore = useUserStore()

const activeSession = computed(() => roomStore.getActiveSession)

const isMicOpen = computed(() => roomStore.getActiveSessionPreference('mic').isOpen)
const isCamOpen = computed(() => roomStore.getActiveSessionPreference('cam').isOpen)
const rightBar = computed(() => roomStore.getActiveSessionPreference("rightBar"))

const mute = () => {
    roomStore.mute(roomStore.getActiveSession.room_session_id, [userStore.websocketID], true)
}

const unmute = () => {
    roomStore.unmute(roomStore.getActiveSession.room_session_id, [userStore.websocketID], true)
}

const openCam = () => {
    roomStore.openCam(roomStore.getActiveSession.room_session_id, [userStore.websocketID], true)
}

const closeCam = () => {
    roomStore.closeCam(roomStore.getActiveSession.room_session_id, [userStore.websocketID], true)
}

const toggleShareScreen = () => {
    if (!activeSession.value.userPreferences.sharingScreen.isActive) {
        rtc.shareScreen(roomStore, userStore.getWebsocketID)
    } else {
        rtc.stopSharing(roomStore, userStore.websocketID)
    }
}

const rightBarToggleFor = (preference) => {
    if (rightBar.value.isOpen) {
        if (rightBar.value.type === preference) {
            roomStore.setActiveSessionPreference("rightBar", "isOpen", false)
            roomStore.setActiveSessionPreference("rightBar", "type", "")
        }
        else {
            roomStore.setActiveSessionPreference("rightBar", "type", preference)
        }
    } else {
        roomStore.setActiveSessionPreference("rightBar", "isOpen", true)
        roomStore.setActiveSessionPreference("rightBar", "type", preference)
    }
}

const isApprovedLeaving = ref(false)

const leaveButton = () => {
    const participantRole = roomStore.getParticipantRole
    if (participantRole < 3) {
        if (confirm("Ayrılmak istediğinizi onaylıyor musunuz?")) {
            rtc.leave(roomStore, userStore.getWebsocketID,
                () => roomStore.leaveSession(activeSession.value.participant.id, activeSession.value.room_session_id, userStore.getWebsocketID, false))
        }
        else {
            isApprovedLeaving.value = false
        }
    }
    else {
        isApprovedLeaving.value = true
    }
}

const leave = () => {
    rtc.leave(roomStore, userStore.getWebsocketID,
        () => roomStore.leaveSession(activeSession.value.participant.id, activeSession.value.room_session_id, userStore.getWebsocketID, false))
}

const endSession = () => {
    rtc.leave(roomStore, userStore.getWebsocketID,
        () => roomStore.leaveSession(activeSession.value.participant.id, activeSession.value.room_session_id, userStore.getWebsocketID, true))
}
</script>