<template>
    <div
        class="w-full max-w-sm m-auto bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="p-8 rounded-t-lg" src="https://flowbite.com/docs/images/products/apple-watch.png" alt="product image" />
        <div class="px-5 pb-5">
            <Input v-if="room.passcode" v-model:value="passcode" labelText="Parola" />
            <Input v-if="user.name === ''" v-model:value="displayName" labelText="Odadaki takma isminiz" />
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white text-center">{{ room.title !== ''
                ? room.title
                : room.code }}</h5>
            <div class="flex items-center justify-between">
                <IconMicrophone color="#fffff" v-show="micStatus" @click="() => micStatus = false" />
                <IconMicrophoneOff color="#ffffff" v-show="!micStatus" @click="() => micStatus = true" />
                <button @click="() => join()"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Katıl
                </button>
            </div>
        </div>
    </div>
</template>

<script setup>
import Input from '@/base-components/Input.vue';
import IconMicrophone from "@/components/icons/IconMicrophone.vue"
import IconMicrophoneOff from "@/components/icons/IconMicrophoneOff.vue"
import { useRoomStore } from '@/stores/room';
import { ref } from "vue"

const roomStore = useRoomStore()

const emit = defineEmits(['join'])

const props = defineProps({
    room: {
        type: Object,
        required: true
    },
    user: {
        type: Object,
    },
    closeEntrance: {
        type: Function,
        required: true
    }
})

const displayName = ref('')

const passcode = ref('')

const micStatus = ref(false)

const join = () => {
    if (props.room.passcode) {
        if (passcode !== props.room.passcode) {
            alert(props.room.type + 'parolası yanlış')
        }
    }
    roomStore.requestToJoinSession(props.room.code, passcode.value, displayName.value)
    props.closeEntrance()
}

</script>