<template>
    <Modal size="sm" v-if="isApprovedLeaving" @close="() => close()">
        <template #body>
            <div class="-mt-4">
                <span>Ayrılmak istediğinizi onaylıyor musunuz?</span>
                <div class="flex justify-between gap-4 mt-4">
                    <button @click="() => leaveFunc()"
                        class="text-red-700 bg-white hover:bg-red-100 focus:ring-4 focus:outline-none focus:ring-red-500 rounded-lg border border-red-700 text-sm font-medium px-5 py-2.5 hover:text-red-900 focus:z-10 dark:bg-red-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                        Oturumdan ayrıl
                    </button>
                    <button @click="() => endFunc()"
                        class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        Oturumu sonlandır
                    </button>
                </div>
            </div>
        </template>
    </Modal>
</template>

<script setup>
import { Modal } from 'flowbite-vue';

const props = defineProps({
    leaveFunc: {
        type: Function,
        required: true
    },
    endFunc: {
        type: Function,
        required: true
    },
    isApprovedLeaving: {
        type: Boolean,
        required: true
    },
    close: {
        type: Function,
        required: true
    }
})
</script>