<template>
    <div @contextmenu="(e) => { isSelf ? e.preventDefault() : onContextMenu(e) }" v-if="participant"
        class="box-border relative" :class="dimensions">
        <video class="w-full h-full border-2 rounded-xl" autoplay :srcObject="srcObject"
            :class="[participant.is_cam_open ? '' : '-z-10', isSpeaking ? 'border-green-500' : 'border-blue-500']"></video>
        <div class="h-full w-full rounded-xl bg-zinc-800 absolute top-0 left-0 flex items-center justify-center"
            :class="[participant.is_cam_open ? '-z-10' : '']">
            <img src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" class="w-24 h-24 rounded-full">
        </div>
        <div class="absolute flex items-center justify-center bottom-2 right-2">
            <IconCameraOff color="#ffffff" v-show="!participant.is_cam_open"></IconCameraOff>
            <IconMicrophoneOff color="#ffffff" v-show="!participant.is_mic_open"></IconMicrophoneOff>
        </div>
        <div class="absolute flex items-center justify-center bottom-2 left-2 bg-gray-400 rounded-md bg-opacity-50 p-1">
            <span class="text-sm text-gray-900 opacity-100">{{ participant.name ? participant.name + ' ' +
                participant.lastname : participant.display_name }}</span>
        </div>
    </div>
</template>

<script setup>
import { computed } from "vue"
import IconCameraOff from '../icons/IconCameraOff.vue';
import IconMicrophoneOff from '../icons/IconMicrophoneOff.vue';
import ContextMenu from '@imengyu/vue3-context-menu'

const props = defineProps({
    srcObject: {
        type: Object,
        required: true
    },
    streamId: {
        type: String,
        required: true
    },
    participant: {
        type: Object,
        required: false,
        undefined: {}
    },
    dimensions: {
        type: String,
        required: true
    },
    isSpeaking: {
        type: Boolean,
        required: true
    },
    client: {
        type: Object,
        required: true
    },
    mute: {
        type: Function,
        required: true
    },
    closeCam: {
        type: Function,
        required: true
    },
    switchCamAuth: {
        type: Function,
        required: true
    },
    switchMicAuth: {
        type: Function,
        required: true
    },
    switchSharingScreenAuth: {
        type: Function,
        required: true
    },
    changeRole: {
        type: Function,
        required: true
    }
})

const isSelf = computed(() => props.participant.websocket_id === props.client.websocket_id)

const switchMicAuth = () => {
    if (props.participant.is_mic_authorized) {
        props.switchMicAuth([props.participant.websocket_id], false, false)
    }
    else {
        props.switchMicAuth([props.participant.websocket_id], true, false)
    }
}

const switchCamAuth = () => {
    if (props.participant.is_cam_authorized) {
        props.switchCamAuth([props.participant.websocket_id], false, false)
    } else {
        props.switchCamAuth([props.participant.websocket_id], true, false)
    }
}

const switchSharingScreenAuth = () => {
    if (props.participant.is_sharing_screen_authorized) {
        props.switchSharingScreenAuth([props.participant.websocket_id], false, false)
    }
    else {
        props.switchSharingScreenAuth([props.participant.websocket_id], true, false)
    }
}

const onContextMenu = (e) => {
    e.preventDefault();
    ContextMenu.showContextMenu({
        x: e.x,
        y: e.y,


        items: [
            {
                label: "Kamerayı kapat",
                onClick: () => props.closeCam(props.participant.websocket_id, false),
                disabled: !props.participant.is_cam_open,
                hidden: props.client.role < props.participant.role || props.client.role === 0
            },
            {
                label: "Mikrofon kapat",
                onClick: () => props.mute(props.participant.websocket_id, false),
                disabled: !props.participant.is_mic_open,
                hidden: props.client.role < props.participant.role || props.client.role === 0
            },
            {
                label: `Mikrofon yetkisi${props.participant.is_mic_authorized ? 'ni al' : ' ver'}`,
                onClick: () => switchMicAuth(),
                hidden: props.client.role < props.participant.role || props.client.role === 0
            },
            {
                label: `Kamera yetkisi${props.participant.is_cam_authorized ? 'ni al' : '  ver'}`,
                onClick: () => switchCamAuth(),
                hidden: props.client.role < props.participant.role || props.client.role === 0
            },
            {
                label: `Ekran yetkisi${props.participant.is_sharing_screen_authorized ? 'ni al' : '  ver'}`,
                onClick: () => switchSharingScreenAuth(),
                hidden: props.client.role < props.participant.role || props.client.role === 0
            },
            {
                label: `Yetki Artır`,
                onClick: () => props.changeRole([props.participant.id], props.participant.role + 1),
                hidden: (props.client.role < props.participant.role || props.client.role === 0) || props.participant.role === 3
            },
            {
                label: `Yetkisini Al`,
                onClick: () => props.changeRole([props.participant.id], props.participant.role - 1),
                hidden: (props.client.role < props.participant.role || props.client.role === 0) || props.participant.role === 0
            }
        ]
    });
}
</script>