<template>
  <template v-if="participants && 'is_cam_open' in participants[0]">
    <div v-if="sharedScreens.length === 0" class="flex flex-wrap items-center justify-center absolute"
      :style="[roomStore.getActiveSessionPreference('rightBar').isOpen ? { width: 'calc(100% - ' + userPreferences.rightBar.width + ')' } : { width: '100%' }]">
      <template v-for="video in videos">
        <ParticipantVideo v-bind="video" :dimensions="videoDimensionsWithoutSharedScreen"
          :participant="participants.filter(p => p.stream_id === video.streamId)[0]" :mute="mute" :closeCam="closeCam"
          :client="roomStore.getParticipant" :switchMicAuth="roomStore.switchMicAuthorization"
          :switchCamAuth="roomStore.switchCamAuthorization"
          :switchSharingScreenAuth="roomStore.switchSharingScreenAuthorization"
          :changeRole="roomStore.changeParticipantRole" />
      </template>
    </div>

    <div v-if="sharedScreens.length > 0" class="flex flex-col items-center justify-center h-full"
      :style="[roomStore.getActiveSessionPreference('rightBar').isOpen ? { width: 'calc(100% - ' + userPreferences.rightBar.width + ')' } : { width: '100%', height: '100%' }]">
      <div class="w-full" :class="isParticipantsOpenWhenSharingScreen ? 'h-5/6' : 'h-full'">
        <template v-for="screen in sharedScreens">
          <SharingScreenVideo :streamId="screen.streamId" :srcObject="screen.srcObject"
            :participant="participants.filter(p => p.sharing_screen === screen.streamId)[0]"
            @dblclick="() => isParticipantsOpenWhenSharingScreen = !isParticipantsOpenWhenSharingScreen"
            dimensions="w-full" />
        </template>
      </div>
      <div class="flex items-center gap-x-1 justify-center"
        :class="isParticipantsOpenWhenSharingScreen ? 'h-1/6' : 'hidden'">
        <template v-for="video in videos">
          <ParticipantVideo v-bind="video" dimensions="h-full w-1/10"
            :participant="participants.filter(p => p.stream_id === video.streamId)[0]" :mute="mute" :closeCam="closeCam"
            :client="roomStore.getParticipant" :switchMicAuth="roomStore.switchMicAuthorization"
            :switchCamAuth="roomStore.switchCamAuthorization"
            :switchSharingScreenAuth="roomStore.switchSharingScreenAuthorization"
            :changeRole="roomStore.changeParticipantRole" />
        </template>
      </div>
    </div>
  </template>
</template>

<script setup>

import { useRoomStore } from "@/stores/room";
import { computed, ref } from "vue"
import ParticipantVideo from "./ParticipantVideo.vue";
import SharingScreenVideo from "./SharingScreenVideo.vue";

const props = defineProps({
  videos: {
    type: Array,
    required: true
  },
  sharedScreens: {
    type: Array,
    required: true
  }
})

const isParticipantsOpenWhenSharingScreen = ref(true)

const roomStore = useRoomStore()

const userPreferences = computed(() => {
  return roomStore.getActiveSessionPreferences
})
const participants = computed(() => roomStore.getActiveSession.participants)

const mute = (userSocketId) => {
  roomStore.mute(roomStore.getActiveSession.room_session_id, userSocketId, false)
}

const closeCam = (userSocketId) => {
  roomStore.closeCam(roomStore.getActiveSession.room_session_id, userSocketId, false)
}

const videoDimensionsWithoutSharedScreen = computed(() => {
  const videoCountToRender = props.videos.length % 12
  if (videoCountToRender === 1) return 'h-11/12 w-11/12'
  else if (videoCountToRender <= 4) return 'h-1/2 w-1/2 p-2'
  else if (videoCountToRender <= 8) return 'h-1/2 w-1/4 p-2'
  else return 'h-1/3 w-1/4'
})

</script>