<template>
    <div v-if="participant" class="box-border relative h-full border-blue-500 border-2 rounded-lg p-4" :class="dimensions">
        <video class="w-full h-full" autoplay :srcObject="srcObject"></video>
        <div class="absolute flex items-center justify-center bottom-2 left-2 bg-gray-400 rounded-md bg-opacity-50 p-1">
            <span class="text-sm text-gray-900 opacity-100">
                {{ participant.name ? participant.name + ' ' +
                    participant.lastname : participant.display_name }}
            </span>
        </div>
    </div>
</template>

<script setup>

const props = defineProps({
    streamId: {
        type: String,
        required: false
    },
    srcObject: {
        type: Object,
        required: false
    },
    dimensions: {
        type: String,
        required: true
    },
    participant: {
        type: Object,
        required: true,
    }
})

</script>