<template></template>

<script setup>
import { ref } from 'vue';
import { useUserStore } from '../../stores/user';
const userStore = useUserStore()
const info = defineProps({
    isOpened: {
        type: Boolean,
        required: true
    },
    field: {
        type: String,
        required: true
    },
    fieldAlias: {
        type: String,
        required: false
    },
    closeModal: Function,
    required: true
})

const value = ref(userStore.getUserProperty(info.field))

const updateField = () => {
    userStore.setUserProperty(info.field, value)
}
</script>