<template>
  <div class="flex items-center justify-evenly h-1/6 gap-x-2" v-if="isAuthorized">
    <button @click="() => closeMics()"
      class="text-blue-600 hover:bg-blue-300 p-1 focus:outline-none rounded-full font-light text-xs text-center">Mikrofonları
      kapat</button>
    <button @click="() => closeCams()"
      class="text-blue-600 hover:bg-blue-300 rounded-full focus:outline-none p-1 font-light text-xs text-center">Kameraları
      kapat</button>
    <button @click="() => toggleBottomRightMenu()" ref="bottomRightMenuTogglerElement">
      <IconVerticalThreeDots></IconVerticalThreeDots>
    </button>
    <div ref="bottomRightMenu" v-if="isOpenBottomRightMenu" class="bg-zinc-600 fixed p-2"
      :style="{ top: bottomRightMenuPosition.y + 'px', left: bottomRightMenuPosition.x + 'px' }">
      <div @click="() => switchMicAuthAll()" class="text-center text-white border-b-2 border-zinc-300">
        Mikrofon
        Yetkisi{{ roomStore.getActiveSession.is_mic_authorized ? `ni Al` : ` Ver` }}</div>
      <div class="text-center text-white border-b-2 border-zinc-300" @click="() => switchCamAuthAll()">
        Kamera
        Yetkisi{{ roomStore.getActiveSession.is_cam_authorized ? `ni Al` : ` Ver` }}</div>
      <div class="text-center text-white" @click="() => switchSharingScreenAuthAll()">
        Ekran Paylaşım Yetkisi{{ roomStore.getActiveSession.is_sharing_screen_authorized ?
          `ni Al` : ` Ver` }}</div>
    </div>
  </div>
</template>

<script setup>
import { useRoomStore } from "@/stores/room";
import IconVerticalThreeDots from "../../../icons/IconVerticalThreeDots.vue"
import { computed, nextTick, onBeforeUnmount, onMounted, reactive, ref } from "vue";
const isAuthorized = computed(() => [1, 2, 3].includes(roomStore.getActiveSession.participant.role))

const closeCams = () => {
  const self = roomStore.getActiveSession.participant
  const sockets = []
  roomStore.getActiveSession.participants.forEach(p => {
    if (p.websocket_id !== self.websocket_id) {
      sockets.push(p.websocket_id)
    }
  })
  roomStore.closeCam(roomStore.getActiveSession.room_session_id, sockets, false)
}

const bottomRightMenuTogglerElement = ref(null)
const bottomRightMenu = ref(null)
const isOpenBottomRightMenu = ref(false)
const bottomRightMenuPosition = reactive({ x: 0, y: 0 })

const participants = computed(() => roomStore.getParticipants)
const closeMics = () => {
  const self = roomStore.getActiveSession.participant
  const sockets = []
  roomStore.getActiveSession.participants.forEach(p => {
    if (p.websocket_id !== self.websocket_id) {
      sockets.push(p.websocket_id)
    }
  })
  roomStore.mute(roomStore.getActiveSession.room_session_id, sockets, false)
}

const toggleBottomRightMenu = () => {
  isOpenBottomRightMenu.value = !isOpenBottomRightMenu.value

  if (isOpenBottomRightMenu.value) {
    nextTick(() => {
      bottomRightMenuPosition.x = bottomRightMenuTogglerElement.value.getBoundingClientRect().left - bottomRightMenu.value.offsetWidth
      bottomRightMenuPosition.y = bottomRightMenuTogglerElement.value.getBoundingClientRect().top - bottomRightMenu.value.offsetHeight
    })
  }
}

const handleClickOutside = (event) => {
  if (isOpenBottomRightMenu.value && !bottomRightMenuTogglerElement.value.contains(event.target) && !bottomRightMenu.value.contains(event.target)) {
    isOpenBottomRightMenu.value = false;
  }
}

const switchMicAuthAll = () => {
  if (roomStore.getActiveSession.is_mic_authorized) {
    roomStore.switchMicAuthorization(participants.value.filter(p => {
      if (p.role === 0) return p.websocket_id
    }), false, true)
  }
  else {
    roomStore.switchMicAuthorization([], true, true)
  }
}

const switchCamAuthAll = () => {
  if (roomStore.getActiveSession.is_cam_authorized) {
    roomStore.switchCamAuthorization(participants.value.filter(p => {
      if (p.role === 0) return p.websocket_id
    }), false, true)
  } else {
    roomStore.switchCamAuthorization([], true, true)
  }
}

const switchSharingScreenAuthAll = () => {
  if (roomStore.getActiveSession.is_sharing_screen_authorized) {
    roomStore.switchSharingScreenAuthorization(participants.value.map(p => {
      return p.websocket_id
    }), true, false)
  }
  else {
    roomStore.switchSharingScreenAuthorization([], true, true)
  }
}

onMounted(() => {
  document.addEventListener('click', handleClickOutside);
});

onBeforeUnmount(() => {
  document.removeEventListener('click', handleClickOutside);
});


const roomStore = useRoomStore()
</script>