<template>
  <div class="w-full flex flex-col justify-between items-center h-full relative">
    <div class="w-full h-5/6">
      <h3 class="mb-4 text-center text-xl font-bold text-gray-900 dark:text-white md:text-xl lg:text-xl"><span
          class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Katılımcılar</span>
      </h3>
      <div v-for="(participant, index) in participants" class="w-full hover:bg-gray-400 flex justify-between flex-wrap">
        <Participant :person="participant" :mute="mute" :closeCam="closeCam" :client="roomStore.getParticipant"
          :class="[index % 2 === 0 ? 'bg-zinc-600' : 'bg-zinc-700']" :switchMicAuth="roomStore.switchMicAuthorization"
          :switchCamAuth="roomStore.switchCamAuthorization"
          :switchSharingScreenAuth="roomStore.switchSharingScreenAuthorization"
          :changeRole="roomStore.changeParticipantRole" />
      </div>
    </div>
    <bottom-bar />
  </div>
</template>

<script setup>
import { useRoomStore } from '@/stores/room';
import { computed, } from 'vue';

import Participant from "@/components/session/RightBar/Participants/participant.vue";
import BottomBar from "@/components/session/RightBar/Participants/bottomBar.vue";

const roomStore = useRoomStore()
const participants = computed(() => roomStore.getParticipants)

const mute = (userSocketId) => {
  roomStore.mute(roomStore.getActiveSession.room_session_id, userSocketId, false)
}

const closeCam = (userSocketId) => {
  roomStore.closeCam(roomStore.getActiveSession.room_session_id, userSocketId, false)
}


</script>