<template>
  <div @contextmenu="(e) => { isSelf ? e.preventDefault() : onContextMenu(e) }" class="w-full h-full p-4 flex flex-col">
    <div>
      <span class="text-white text-sm">{{ person.user_id ? person.name + ' ' + person.lastname :
        person.display_name }}</span>
      <span v-if="person.role !== 0" class="text-white text-sm font-extralight">({{
        getRoleAsString(person.role)
      }})</span>
      <div class="text-xs font-extralight text-white" v-if="isSelf">(Siz)</div>
    </div>
  </div>
</template>

<script setup>
import { computed } from "vue";
import { getRoles } from "@/constants/roles";
import ContextMenu from '@imengyu/vue3-context-menu'

const props = defineProps({
  person: {
    type: Object,
    required: true
  },
  mute: {
    type: Function,
    required: true
  },
  closeCam: {
    type: Function,
    required: true
  },
  client: {
    type: Object,
    required: true
  },
  switchCamAuth: {
    type: Function,
    required: true
  },
  switchMicAuth: {
    type: Function,
    required: true
  },
  switchSharingScreenAuth: {
    type: Function,
    required: true
  },
  changeRole: {
    type: Function,
    required: true
  },
})

const getRoleAsString = computed(() => {
  return (role) => {
    return getRoles()[role]
  }
})

const isSelf = computed(() => props.person.websocket_id === props.client.websocket_id)

const switchMicAuth = () => {
  if (props.person.is_mic_authorized) {
    props.switchMicAuth([props.person.websocket_id], false, false)
  }
  else {
    props.switchMicAuth([props.person.websocket_id], true, false)
  }
}

const switchCamAuth = () => {
  if (props.person.is_cam_authorized) {
    props.switchCamAuth([props.person.websocket_id], false, false)
  } else {
    props.switchCamAuth([props.person.websocket_id], true, false)
  }
}

const switchSharingScreenAuth = () => {
  if (props.person.is_sharing_screen_authorized) {
    props.switchSharingScreenAuth([props.person.websocket_id], false, false)
  }
  else {
    props.switchSharingScreenAuth([props.person.websocket_id], true, false)
  }
}

const onContextMenu = (e) => {
  e.preventDefault();
  ContextMenu.showContextMenu({
    x: e.x,
    y: e.y,

    items: [
      {
        label: "Kamerayı kapat",
        onClick: () => props.closeCam(props.person.websocket_id, false),
        disabled: !props.person.is_cam_open,
        hidden: props.client.role < props.person.role || props.client.role === 0
      },
      {
        label: "Mikrofon kapat",
        onClick: () => props.mute(props.person.websocket_id, false),
        disabled: !props.person.is_mic_open,
        hidden: props.client.role < props.person.role || props.client.role === 0
      },
      {
        label: `Mikrofon yetkisi${props.person.is_mic_authorized ? 'ni al' : ' ver'}`,
        onClick: () => switchMicAuth(),
        hidden: props.client.role < props.person.role || props.client.role === 0
      },
      {
        label: `Kamera yetkisi${props.person.is_cam_authorized ? 'ni al' : '  ver'}`,
        onClick: () => switchCamAuth(),
        hidden: props.client.role < props.person.role || props.client.role === 0
      },
      {
        label: `Ekran yetkisi${props.person.is_sharing_screen_authorized ? 'ni al' : '  ver'}`,
        onClick: () => switchSharingScreenAuth(),
        hidden: props.client.role < props.person.role || props.client.role === 0
      },
      {
        label: `Yetki Artır`,
        onClick: () => props.changeRole([props.person.id], props.person.role + 1),
        hidden: (props.client.role < props.person.role || props.client.role === 0) || props.person.role === 3
      },
      {
        label: `Yetkisini Al`,
        onClick: () => props.changeRole([props.person.id], props.person.role - 1),
        hidden: (props.client.role < props.person.role || props.client.role === 0) || props.person.role === 0
      }
    ]
  });
}
</script>