<template>
  <Header :user="userStore.getUser"></Header>
  <CTA></CTA>
</template>

<script setup>
import Header from '../components/common/Header.vue';
import CTA from '../components/CTA.vue';
import { useUserStore } from '../stores/user';

const userStore = useUserStore()
</script>