<template>
    <div class="w-full h-full flex flex-col items-center justify-between overflow-auto">
        <div class="h-1/12 w-full">
            <h3 class="mb-4 text-center text-xl font-bold text-gray-900 dark:text-white md:text-xl lg:text-xl"><span
                    class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Mesajlar</span>
            </h3>
        </div>
        <span v-if="messages.length === 0" class="text-white">Burada hiç mesaj yok...</span>
        <div clas="h-11/12 w-full flex flex-col items-center justify-between">
            <div class="h-11/12 w-full overflow-y-auto">
                <div v-for="message in messages"
                    class="w-full hover:bg-zinc-800 py-4 px-4 flex flex-col items-stretch justify-between gap-y-1 flex-wrap">
                    <span class="text-white text-md">{{ message.content }}</span>
                    <div class="flex justify-between items-center">
                        <span class="text-gray-200 text-xs font-thin"> {{ timeToSend(message.timestamp) }}</span>
                        <span class="text-gray-200 text-xs font-thin">{{ sender(message.from).name ??
                            sender(message.from).display_name }}</span>
                    </div>
                </div>
            </div>
            <div class="w-full h-1/12 b-slate-400 flex justify-center gap-2 items-center">
                <input type="text" ref="messageElRef" @keydown.enter="() => sendMessage()"
                    class="block p-2 text-gray-900 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Bir şeyler yazın.." v-model="messageContent">
                <button @click="() => sendMessage()"
                    class="text-white bg-blue-600 hover:bg-blue-500 focus:ring-4 focus:ring-blue-300 font-normal rounded-lg text-sm p-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    Gönder
                </button>
            </div>
        </div>
    </div>
</template>

<script setup>
import { useRoomStore } from '../../../../stores/room';
import { WebRTCService as rtc } from '../../../../services/webrtc';
import { onMounted, ref, computed } from "vue"
import Input from '@/base-components/Input.vue';
import { useUserStore } from '@/stores/user';
import moment from "moment"
const roomStore = useRoomStore()
const userStore = useUserStore()

const messageContent = ref('')
const messageElRef = ref(null)

onMounted(() => {
    messageElRef.value.focus()
})

const activeSession = computed(() => roomStore.getActiveSession)

const sendMessage = () => {
    if (messageContent.value.length !== 0) {

        rtc.sendMessage({ from: userStore.getWebsocketID, to: 'all', content: messageContent.value, timestamp: moment().format() }, roomStore.addSessionMessage)
        messageContent.value = ''
        messageElRef.value.focus()
    }
}

const messages = computed(() => activeSession.value.messages)

const participants = computed(() => activeSession.value.participants)

const sender = computed(() => {
    return (from) => participants.value.filter((p) =>
        p.websocket_id === from)[0]
})

const timeToSend = computed(() => {
    return (timestamp) => {
        const date = new Date(timestamp)
        return (date.getHours() < 10 ? '0' : '') + date.getHours() + '.' + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes()
    }
})
</script>