<template>
    <div class="h-screen bg-zinc-900 py-4 rounded-md absolute right-0 top-0 overflow-auto border-l-2 b-slate-300 flex flex-col"
        :style="{ width }">
        <div class="md:h-12 w-full flex justify-end px-2">
            <button class="text-white font-bold text-lg ring-0" @click="() => close()">
                <IconCrossInCircle color="#ffffff" />
            </button>
        </div>
        <component :is="components[component]" />
    </div>
</template>

<script setup>
import ParticipantList from "@/components/session/RightBar/Participants/list.vue"
import IconCrossInCircle from "@/components/icons/IconCrossInCircle.vue"

const components = {
    participantList: ParticipantList,
    chat: Chat
}

import Chat from "./Chat/main.vue";

defineProps({
    component: {
        type: String,
        required: true
    },
    width: {
        type: String,
        required: true
    },
    close: {
        type: Function,
        required: true
    }
})

</script>