<template>
    <div class="mb-6">
        <label v-if="labelText" for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{
            labelText }}</label>
        <input type="text" :value="value" @input="(e) => $emit('update:value', e.target.value)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            :placeholder="placeholder">
    </div>
</template>

<script setup>
const a = defineProps({
    value: {
        type: [String, Number],
        required: true,
    },
    labelText: {
        type: String,
        required: false
    },
    placeholder: {
        type: String,
        required: false
    }
})
</script>