<template>
    <div>
        <button @click="showMenu">Menüyü Aç</button>
        <div ref="menuContainer" v-if="isMenuVisible" class="absolute" :class="[bgColor]"
            style="border: 1px solid darkgrey;" :style="{ left: menuPosition.x + 'px', top: menuPosition.y + 'px' }">
            <div class="menuItem">Eleman 1</div>
            <div class="menuItem">Eleman 2</div>
            <div class="menuItem">Eleman 3</div>
        </div>
    </div>
</template>

<script setup>
import { ref, reactive, onMounted, onBeforeUnmount, watch } from 'vue';

defineProps({
    bgColor: {
        type: String,
        required: false,
        default: 'bg-white'
    },
    /*     leftOffset: {
            required: 
        } */

})

const isMenuVisible = ref(false);
const menuPosition = reactive({ x: 0, y: 0 });
const menuContainer = ref(null);

const showMenu = (event) => {
    menuPosition.x = event.clientX;
    menuPosition.y = event.clientY;
    isMenuVisible.value = true;
};

const hideMenu = () => {
    isMenuVisible.value = false;
};

const handleOutsideClick = (event) => {
    if (!menuContainer.value || !menuContainer.value.contains(event.target)) {
        hideMenu();
    }
};

onMounted(() => {
    document.addEventListener('click', handleOutsideClick);
});

onBeforeUnmount(() => {
    document.removeEventListener('click', handleOutsideClick);
});

watch(menuContainer, () => {
    if (menuContainer.value) {
        menuContainer.value.addEventListener('click', (event) => {
            event.stopPropagation();
        });
    }
});

return {
    isMenuVisible,
    menuPosition,
    menuContainer,
    showMenu,
};
</script>

<style>
.menu {
    position: absolute;
    background-color: white;
    border: 1px solid darkgrey;
}

.menuItem {
    border-bottom: 1px solid darkgrey;
    padding: 10px;
}
</style>
