<template>
    <section class="bg-white dark:bg-gray-900">
        <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
            <img class="w-full dark:hidden" src="../assets/images/CTA.svg" alt="dashboard image">
            <img class="w-full hidden dark:block"
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/cta/cta-dashboard-mockup-dark.svg"
                alt="dashboard image">
            <div class="mt-4 md:mt-0">
                <code><span class="text-blue-500 font-bold text-xl">Uygulama yapım aşamasındadır.</span> Sunucu kısmı deploy durumda olmadığı için uygulama aktif değildir. Uygulamanın<div class="flex flex-col items-center justify-center">
                         <a class="text-blue-600 font-bold text-xl" href="https://gitlab.com/saidtaylann/kegi-frontend">front-end(VueJS) kodları</a>
                         <a class="text-gray-700 font-bold text-xl" href="https://gitlab.com/saidtaylann/kegi-backend">back-end(NestJS) kodları</a>
                    </div></code>
                <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Gerçek bir sınıf için
                    tüm gerekenler bir yerde</h2>
                <p class="mb-6 font-light text-gray-500 md:text-lg dark:text-gray-400">Süresiz olarak ister sınıflar ister
                    odalar oluşturun. Ya da isterseniz tek kullanımlık toplantılar başlatın</p>
                <div class="flex space-x-3">
                    <router-link :to="{ name: 'createRoom' }" v-if="userStore.getUser.id"
                        class="inline-flex items-center text-white bg-blue-600 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 text-center dark:focus:ring-primary-900">
                        Yeni Toplantı
                    </router-link>
                    <div class="flex items-center space-x-2">
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <IconKeyboard></IconKeyboard>
                            </div>
                            <input type="search" id="default-search" v-model="roomCode"
                                class="block w-full h-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Sınıf, oda ya da toplantı kodu">
                        </div>
                        <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline" @click="() => join()">
                            Katıl
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </section>
</template>

<script setup>
import { useUserStore } from '@/stores/user';
import IconKeyboard from './icons/IconKeyboard.vue';
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import settings from "../../settings.js"
const userStore = useUserStore()

const router = useRouter()

const roomCode = ref('')
const join = () => {
    if (roomCode.value.startsWith(settings.DOMAIN)) {
        if (roomCode.value.split(settings.TOP_LEVEL_DOMAIN + '/')[1].split('-').every(t => t.length === 4)) {
            router.push({ name: 'live', params: roomCode.value })
        }
    }
    else if (roomCode.value.split('-').every(t => t.length === 4)) {
        router.push({ name: 'live', params: roomCode.value })
    }
}

</script>