<template>
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900 md:h-20">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
            <Logo></Logo>
            <div v-if="user.username" id="dropdown-wrapper">
                <dropdown text="Bottom">
                    <template #trigger>
                        <img class="w-12 h-12 rounded-full"
                            src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" alt="user photo">
                    </template>

                    <list-group>
                        <list-group-item>
                            <div class="flex flex-col items-center justify-center">
                                <span class="block text-sm text-gray-900 dark:text-white">{{ user.name + " " + user.lastname
                                }}</span>
                                <span class="block text-sm font-medium text-gray-600 truncate dark:text-gray-400">{{
                                    user.email
                                }}</span>
                            </div>
                        </list-group-item>
                        <list-group-item>
                            <router-link :to="{ name: 'profile' }"
                                class="block px-4 py-2 text-sm text-blue-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                Profil
                            </router-link>
                        </list-group-item>
                        <list-group-item>
                            <router-link :to="{ name: 'roomList' }"
                                class="block px-4 py-2 text-sm text-blue-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                Hesap
                            </router-link>
                        </list-group-item>
                        <list-group-item>
                            <router-link :to="{ name: 'profile' }"
                                class="block px-4 py-2 text-sm text-blue-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                Profil
                            </router-link>
                        </list-group-item>
                        <list-group-item>
                            <a @click="() => signout()"
                                class="block px-4 py-2 text-sm text-blue-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                Çıkış yap
                            </a>
                        </list-group-item>
                    </list-group>
                </dropdown>
            </div>
            <div class="flex" v-else>
                <RouterLink :to="{ name: 'signup' }"
                    class="text-gray-800 dark:text-white hover:bg-gray-100 focus:ring-4 focus:ring-blue-600 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
                    Kayıt Ol
                </RouterLink>
                <RouterLink :to="{ name: 'signin' }"
                    class="text-white bg-blue-600 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                    Giriş Yap
                </RouterLink>
            </div>
        </div>
    </nav>
</template>

<script setup>
import { useUserStore } from '@/stores/user';
import Logo from './Logo.vue';
import settings from "../../../settings"
import { Dropdown, ListGroup, ListGroupItem } from 'flowbite-vue';
const avatarUrl = settings.FILE_STORAGE_URL + "/images/avatar/"

const props = defineProps({
    user: {
        type: Object,
        required: true
    }
})
const signout = async () => {
    await useUserStore().signout()
}

</script>


<style scoped>
#dropdown-wrapper>div>:nth-child(2) {
    right: 0;
}
</style>