<template>
    <router-link :to="{ name: 'home' }" class="flex items-center">
        <span class="self-center text-3xl font-semibold whitespace-nowrap dark:text-white text-blue-600">Kegi</span>
    </router-link>
</template>