<template>
    <Header />
    <template v-if="isLoading">
        <blockquote class="text-xl italic font-semibold text-center text-blue-500 dark:text-white">
            <p>Beklettiğimiz için özür dileriz. Sayfa birazdan yüklenecek</p>
        </blockquote>
        <div class="flex justify-center items-center">
            <Loader :loading="isLoading" color="#3b82f6" size="500px" />
        </div>
    </template>
    <template v-if="!isLoading">
        <section v-if="isVerified" class="bg-white dark:bg-gray-900">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-md sm:text-center">
                    <h2 class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl dark:text-white">E-mail
                        adresinizi doğruladınız</h2>
                    <p class="mx-auto mb-8 max-w-2xl font-light text-gray-500 md:mb-12 sm:text-xl dark:text-gray-400">
                        Teşekkür
                        ederiz. Artık
                        dilediğiniz gibi hareket edebilirsiniz.</p>
                    <p class="mx-auto mb-8 max-w-2xl font-light text-gray-500 md:mb-12 sm:text-xl dark:text-gray-400">
                        Kaydınızı tamamlamak için bu sayfayı kapatıp kayıt sayfanıza geri dönebilirsiniz. Eğer bu
                        doğrulamayı kayıttan sonra yapıyorsanız hesabınıza giriş yapabilirsiniz.
                    </p>
                </div>
            </div>
        </section>
        <page404 v-else></page404>
    </template>
</template>

<script setup>
import { ref, onMounted } from "vue"
import { useRoute } from 'vue-router';
import { useUserStore } from '../../stores/user';
import page404 from "../404.vue"
import { useToast } from 'vue-toast-notification';
import Header from "@/components/common/Header.vue";
const isLoading = ref(true)
const userStore = useUserStore()
const route = useRoute()
const isVerified = ref(false)
const toast = useToast()
onMounted(async () => {
    try {
        userStore.verifyEmail(route.params.token)
        isLoading.value = false
        isVerified.value = true
    } catch (err) {
        if (err.statusCode === 404) {
            isLoading.value = false
        } else {
            toast.error("Bir hata oluştu. Lütfen sayfayı yenilemeyi deneyin.")
        }
    }


})
</script>