<template>
    <div class="flex items-center justify-center">
        <Loader :loading="isCompleted" />
    </div>
    <section class="dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <!-- Stepper start-->
            <ol
                class="flex items-center w-2/3 text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base">
                <li class="flex md:w-full items-centertext-blue-500 dark:text-blue-600 sm:after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700"
                    :class="{ 'text-blue-500': phase >= 1 }">
                    <span
                        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
                        <svg v-if="phase >= 2" aria-hidden="true" class="w-4 h-4 mr-2 sm:w-5 sm:h-5" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                        Kişisel <span class="hidden sm:inline-flex sm:ml-2">Bilgiler</span>
                    </span>
                </li>
                <li class="flex md:w-full items-center after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-200 after:border-1 after:hidden sm:after:inline-block after:mx-6 xl:after:mx-10 dark:after:border-gray-700"
                    :class="{ 'text-blue-500': phase >= 2 }">
                    <span
                        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:font-light after:text-gray-200 dark:after:text-gray-500">
                        <span class="mr-2">2</span>
                        Profil <span class="hidden sm:inline-flex sm:ml-2">Fotoğrafı</span>
                        <svg v-if="phase >= 3" aria-hidden="true" class="w-4 h-4 mr-2 sm:w-5 sm:h-5" fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </li>
                <li class="flex items-center" :class="{ 'text-blue-500': phase === 3 }">
                    <svg v-if="phase > 3" aria-hidden="true" class="w-4 h-4 mr-2 sm:w-5 sm:h-5" fill="currentColor"
                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span class="mr-2">3</span>
                    Email Doğrulama
                </li>
            </ol>

            <!-- Stepper end-->
            <div class="w-2/3 bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

                    <!-- Phase 1 start -->
                    <form v-show="phase === 1" class="space-y-4 md:space-y-6" @submit.prevent="() => signup()">
                        <h5 class="flex-inline justify-center mb-2 text-3xl font-bold text-gray-900 dark:text-white">Temel
                            Hesap Bilgileriniz</h5>
                        <div>
                            <label for="name"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">İsim</label>
                            <input type="text" name="name" id="name" v-model="user.name" ref="nameInput"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Ahmet" required>
                        </div>
                        <div>
                            <label for="lastname"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Soyisim</label>
                            <input type="text" name="lastname" id="lastname" v-model="user.lastname"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Yılmaz" required>
                        </div>
                        <div>
                            <label for="email"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">E-mail</label>
                            <input type="email" name="email" id="email" v-model="user.email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="ahmetyilmaz@kegi.com" required>
                        </div>
                        <div>
                            <label for="username"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Kullanıcı adı</label>
                            <input type="text" name="username" id="username" v-model="user.username"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="aahmetyilmazz" required>
                        </div>
                        <div>
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••"
                                v-model="user.password"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required>
                        </div>
                        <div>
                            <label for="confirm-password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm
                                password</label>
                            <input type="password" name="confirm-password" id="confirm-password" placeholder="••••••••"
                                v-model="confirmedPassword"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required>
                        </div>
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input id="terms" type="checkbox"
                                    class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800">
                            </div>
                            <!-- router olark sözleşme sayfasına gidecek -->
                            <div class="ml-3 text-sm">
                                <label for="terms" class="font-light text-gray-500 dark:text-gray-300">
                                    <RouterLink to=""
                                        class="font-medium text-primary-600 hover:underline dark:text-primary-500">Şartları
                                    </RouterLink>
                                    kabul ediyorum
                                </label>
                            </div>
                        </div>
                        <button type="submit"
                            class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                            Kayıt ol
                        </button>
                        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                            Zaten bir hesabınız var mı? <RouterLink to=""
                                class="font-medium text-primary-600 hover:underline dark:text-primary-500">Buradan giriş
                                yapabilirsiniz</RouterLink>
                        </p>
                    </form>
                    <!-- Phase 1 end-->

                    <!-- Phase 2 start-->
                    <div v-show="phase === 2" class="flex items-center justify-center w-full flex-col gap-y-3">
                        <label for="dropzone-file"
                            class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                            <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                <svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none"
                                    stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12">
                                    </path>
                                </svg>
                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Profil
                                        fotoğrafını yüklemek
                                        için tıklayın</span> ya da fotoğrafı bu alana sürükleyip bırakın</p>
                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG
                                </p>
                            </div>
                            <input id="dropzone-file" type="file" class="hidden" @change="(e) => uploadAvatar(e)" />
                        </label>
                        <div class="flex justify-center gap-x-5">
                            <button type="button" @click="() => skipPhase()"
                                class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Bu adımı atlamak istiyorum
                                <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <!-- Phase 2 end-->

                    <!-- Phase 3 start-->
                    <div v-show="phase >= 3"
                        class="w-full p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
                        <div v-if="!isMailVerified">
                            <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">Email
                                Doğrulama Linkiniz
                                Gönderildi</h5>
                            <p class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">
                                Hesabınızı başarıyla oluşturdunuz. Email adresinzin doğruluğundan emin olmak için size bir
                                email gönderdik. Email içindeki linke tıklayarak doğrulama yapabilirsiniz.
                            </p>
                            <label for="helper-text"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email
                                içindeki kodu girerek de buradan doğrulama yapabilirsiniz</label>
                            <input type="email" id="helper-text" @keydown.enter="() => verifyUser()"
                                v-model="verificationToken" aria-describedby="helper-text-explanation"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-1/4 text-center mx-auto p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="1A2B3C">
                            <p v-if="isVerificationTokenInvalid" id="helper-text-explanation"
                                class="mt-2 text-sm text-gray-500 dark:text-gray-400">
                                Doğrulama
                                kodu geçersiz</p>
                        </div>
                        <p v-else class="mb-5 text-base text-gray-500 sm:text-lg dark:text-gray-400">
                            Email adresini başarıyla doğruladığınız için teşekkürler.<br />
                        </p>
                        <div class="items-center justify-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4 mt-5">
                            <button type="button" @click="() => complete()" :disabled="isMailVerified"
                                class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Kaydı Tamamla
                                <svg aria-hidden="true" class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <!-- Phase 3 end-->

                </div>
            </div>
        </div>
    </section>
</template>

<script setup>
// kullanıcı mailine gidip doğrulamasını yaparsa store'daki verified değerine, hesabınızı doğruladınız bilgisi çıkacak ve direkt olarak
// phase 3'e geçilecek
import { computed, onMounted, reactive, ref } from "vue"
import { useRouter, } from "vue-router";
import { useUserStore } from "../../stores/user";
import { useToast } from "vue-toast-notification"
const router = useRouter()

const userStore = useUserStore()


const user = reactive({
    name: '',
    lastname: '',
    username: '',
    email: '',
    password: '',
    role: 0,
    type: 'normal'
})
if (localStorage.getItem('signupInfo')) {
    const localizedUser = JSON.parse(localStorage.getItem("signupInfo"))
    user.name = localizedUser.name
    user.lastname = localizedUser.lastname
    user.username = localizedUser.username
    user.email = localizedUser.email
}
const confirmedPassword = ref('')
const phase = ref(1)

const nameInput = ref(null)

onMounted(() => {
    nameInput.value.focus()
})

const toast = useToast()

const uploadAvatar = async (e) => {
    // yükleme için store işlemleri
    const formData = new FormData();
    const files = e.target.files
    if (files.length > 0) {
        formData.append('avatar', files[0])
        try {
            await userStore.updateAvatar(formData)
            toast.success("Profil fotoğrafı başarıyla yüklendi")
            skipPhase()

        } catch (err) {
            if (err.statusCode === 500) {
                toast.error("Yükleme esnasında bir hata oluştu tekrar deneyin")
            }
        }
    } else {
        toast.info("Lütfen bir tane fotoğraf yükleyiniz")
    }
    phase.value++
}
const skipPhase = () => {
    phase.value++
}

const complete = () => {
    phase.value = 4
    router.go(-1)
}

const isCompleted = computed(() => {
    return phase.value === 4 ? true : false
})

const signup = async () => {
    localStorage.setItem('signupInfo', JSON.stringify({
        name: user.name, lastname: user.lastname, username: user.username, email: user.email
    }))
    if (user.password === confirmedPassword.value) {
        try {
            const isSigningUpSuccessful = await userStore.signup(user)
            toast.success("Bilgileiniz başarıyla kaydedildi")
            isSigningUpSuccessful && skipPhase()
        } catch (err) {
            if (err.statusCode === 409) {
                toast.info("Email adresi zaten kullanılıyor.")
            } else if (err.statusCode === 500) {
                toast.error("Bir hata oluştu. Tekrar deneyin.")
            }
        }
    } else {
        toast.info("Parolalar eşleşmiyor")
    }
}

// verification operations
const isMailVerified = computed(() => {
    const isVerified = userStore.getUser.verified
    if (isVerified) setTimeout(() => { phase.value = 3 }, 2000)
    return isVerified ? true : false
})
const isVerificationTokenInvalid = ref(false)
const verificationToken = ref('')

const verifyUser = async () => {
    if (verificationToken.value.length === 6) {
        try {
            const verified = await userStore.verifyEmail(verificationToken.value)
            if (verified === true) {
                phase.value = 4
            } else {
                isVerificationTokenInvalid.value = true
            }
        } catch (err) {
            if (err.statusCode === 404) {
                isVerificationTokenInvalid.value = true
            }
        }
    }
}
</script>