<template>
    <Header :user="userStore.getUser"></Header>
    <section class="bg-white dark:bg-gray-900">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <Logo></Logo>
            <div
                class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Hesabınıza giriş yapın
                    </h1>
                    <form class="space-y-4 md:space-y-6" @submit.prevent="() => signin()">
                        <div>
                            <label for="email"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">E-mail</label>
                            <input type="email" name="email" id="email" ref="emailInput" v-model="userForm.email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="ahmetyilmaz@kegi.com" required>
                        </div>
                        <div>
                            <label for="password"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Parola</label>
                            <input type="password" name="password" id="password" placeholder="••••••••"
                                v-model="userForm.password"
                                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                required>
                        </div>
                        <div class="flex items-center justify-between">
                            <button @click="() => { }"
                                class="text-sm text-right font-medium text-primary-600 dark:text-primary-500">Şifremi
                                unuttum</button>
                        </div>
                        <button type="submit"
                            class="w-full text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                            Giriş Yap
                        </button>
                        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                            Hesabınız Yok mu? <RouterLink :to="{ name: 'signup' }"
                                class="font-medium text-primary-600 hover:underline dark:text-primary-500">Kayıt olun
                            </RouterLink>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script setup>
import Logo from "../../components/common/Logo.vue"
import Header from "../../components/common/Header.vue";
import { onMounted, ref, reactive } from "vue";
import { useUserStore } from "../../stores/user";
import { useToast } from "vue-toast-notification";

const toast = useToast()
const userForm = reactive({
    email: '',
    password: ''
})
const userStore = useUserStore()

const emailInput = ref(null)

onMounted(() => {
    emailInput.value.focus()
})

const signin = async () => {
    try {
        await userStore.signin(userForm)
    } catch (err) {
        if (err.statusCode === 401) {
            toast.error("Kullanıcı bilgileri yanlış")
        } else if (statusCode === 500) {
            toast.error("Bir hata oluştu. Tekrar deneyin.")
        }
    }
}

</script>