<template>
    <svg class="feather feather-video-off" fill="none" height="24" width="24" :stroke="color" stroke-linecap="round"
        stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 16v1a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h2m5.66 0H14a2 2 0 0 1 2 2v3.34l1 1L23 7v10" />
        <line x1="1" x2="23" y1="1" y2="23" />
    </svg>
</template>

<script setup>
defineProps({
    color: {
        type: String,
        required: true
    }
})
</script>