<template>
    <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M12 21H15M12 21H9M12 21V18M12 18C16 18 18.5 15.3137 18.5 12M12 18C8 18 5.5 15.3137 5.5 12M12 15C15.1718 15 15.5 11 15.5 9C15.5 7 15.1718 3 12 3C8.82825 3 8.5 7 8.5 9C8.5 11 8.82825 15 12 15Z"
            :stroke="color" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</template>

<script setup>
defineProps({
    color: {
        type: String,
        required: true
    }
})
</script>