<template>
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M12 21H15M12 21H9M12 21V18M12 18C8 18 5.5 15.3137 5.5 12M12 18C12.7167 18 13.3853 17.9137 14 17.7531M18.5 12C18.5 12.7013 18.388 13.3744 18.1736 14M3 3L21 21M9.16324 5C9.66075 3.86929 10.5214 3 12 3C15.1718 3 15.5 7 15.5 9C15.5 9.5553 15.4747 10.2648 15.3703 11"
            :stroke="color" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
</template>

<script setup>
defineProps({
    color: {
        type: String,
        required: true
    }
})
</script>