<template>
    <svg class="svg-icon" width="24" height="24" :fill="color" viewBox="0 0 1024 1024" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <path
            d="M1020.586667 760.07424c-0.59392 16.745813-15.066453 30.02368-32.413014 29.66528-20.69504 0-32.413013-12.202667-32.413013-29.66528 0-90.426027-75.23328-167.335253-169.49248-167.335253-17.701547 1.32096-30.972587-10.758827-30.972587-29.65504 0-14.834347 13.28128-29.66528 32.413014-29.66528 57.531733 0 103.2192-45.9264 103.2192-102.62528 0-56.692053-45.687467-102.621867-103.2192-102.621867-16.145067 0-32.413013-12.0832-32.413014-29.661867 0-18.899627 13.28128-21.531307 29.538987-21.531306 89.954987 0 165.065387 72.843947 165.065387 157.887146 0 48.564907-23.565653 94.49472-61.958827 124.156587C967.482027 598.114987 1020.586667 673.716907 1020.586667 760.07424z m-176.899414 115.186347h-62.798506c0-151.545173-121.04704-270.564693-268.88192-270.564694-147.95776 0-268.88192 123.32032-268.88192 270.564694H180.3264c0-134.56384 83.729067-255.013547 204.65664-303.09376-64.232107-42.46528-107.53024-114.70848-107.53024-194.013867 0-121.760427 104.54016-229.413547 231.56736-229.413547s231.56736 102.03136 231.56736 229.413547c0 82.172587-47.848107 152.9856-110.52032 194.013867 120.920747 48.19968 210.62656 165.77536 213.620053 303.09376z m-168.891733-497.107627c0-89.234773-74.758827-165.66272-167.338667-165.66272-92.57984 0-167.33184 73.680213-167.33184 165.66272 0 94.972587 77.745493 167.212373 167.33184 168.533333 91.142827 0.003413 167.338667-76.55424 167.338667-168.533333zM236.29824 533.405013c17.339733-0.354987 31.812267 12.916053 32.4096 29.66528 0 18.896213-13.274453 30.976-30.976 29.65504-94.37184 0-169.489067 76.909227-169.489067 167.335254 0 17.58208-11.840853 29.661867-32.413013 29.661866-19.13856 0-32.416427-14.83776-32.416427-29.661866 0-86.357333 53.111467-161.952427 132.64896-201.065814-38.396587-29.658453-61.958827-75.59168-61.958826-124.156586 0-85.046613 75.236693-157.887147 165.061973-157.887147 16.267947 0 29.538987 2.751147 29.538987 21.531307 0 17.58208-16.264533 29.661867-32.4096 29.661866-57.531733 0-103.226027 45.929813-103.226027 102.621867 0.006827 56.70912 45.817173 102.638933 103.22944 102.638933z" />
    </svg>
</template>

<script setup>
defineProps({
    color: {
        type: String,
        required: true
    }
})
</script>