<script setup>
import { RouterView } from 'vue-router'
import { onBeforeMount } from 'vue'
import { useUserStore } from './stores/user'
import { useRoomStore } from './stores/room';
import { watchEffect } from 'vue';
import { websocketService as ws } from "./services/ws";

const userStore = useUserStore()
const roomStore = useRoomStore()

onBeforeMount(() => {
  watchEffect(() => {
    if (ws.isConnected()) {
      userStore.setListeners()
      userStore.startSession()
      roomStore.setListeners()
    }
  })
})
</script>


<template>
  <RouterView />
</template>