<template>
    <div v-if="isEntranceOpen" class="bg-black h-screen w-full">
        <Entrance :room="roomData" :user="userStore.getUser" :closeEntrance="closeEntrance" />
    </div>
    <div v-else class="relative h-screen bg-zinc-900 flex items-center ">
        <ParticipantVideos :videos="videos" :sharedScreens="sharedScreens" />
        <div class="w-full absolute bottom-0 h-12" @mouseover="mouseEnter" @mouseleave="mouseLeave">
            <BottomBar v-show="bottomBarPreference.isOpen"></BottomBar>
        </div>
        <RightBar v-if="rightBarPreference.isOpen" :component="rightBarPreference.type" :width="rightBarPreference.width"
            :close='() => { roomStore.setActiveSessionPreference("rightBar", "isOpen", false); roomStore.setActiveSessionPreference("rightBar", "type", "") }' />
    </div>
    <div ref="infoDialogIconRef">
        <IconInfoCircle @click="() => { isOpenInfoDialog = true }" v-show="!isOpenInfoDialog"
            class="absolute bottom-4 left-4" color="#ffffff">
        </IconInfoCircle>
    </div>
    <div ref="infoDialogRef" v-if="isOpenInfoDialog"
        class="absolute bottom-3 left-3 flex-col bg-gray-200 bg-opacity-70 rounded-xl px-4 py-3">
        <span class="opacity-100">Toplantı kodu: <span @click="() => copyToClipboard(roomStore.getActiveSession.code)"
                class="font-bold text-gray-800">{{ roomStore.getActiveSession.code
                }}</span></span>
        <span class="opacity-100" v-if="roomStore.getActiveSession.passcode">Parola: <span class="font-bold text-gray-800"
                @click="() => copyToClipboard(roomStore.getActiveSession.passcode)">{{
                    roomStore.getActiveSession.passcode }}</span></span>
    </div>
</template>

<script setup>
import { useRoomStore } from "@/stores/room";
import { useUserStore } from "@/stores/user";

import { ref, onBeforeMount, computed, watchEffect, onMounted, watch, onUnmounted } from "vue"
import { useRoute } from "vue-router";

import Entrance from "@/components/session/Entrance.vue";
import ParticipantVideos from "@/components/session/ParticipantVideos.vue";
import BottomBar from "@/components/session/BottomBar.vue";
import RightBar from "@/components/session/RightBar/main.vue";
import IconInfoCircle from "@/components/icons/IconInfoCircle.vue";

import { WebRTCService as rtc } from "../../services/webrtc";
import { onBeforeUnmount } from "vue";

const userStore = useUserStore()
const roomStore = useRoomStore()
const route = useRoute()

const isEntranceOpen = ref(true)

const roomData = ref({})

const rightBarPreference = computed(() => {
    return roomStore.getActiveSessionPreference('rightBar')
})

const bottomBarPreference = computed(() => {
    return roomStore.getActiveSessionPreference("bottomBar")
})

const videos = computed(() => rtc.getparticipantVideos().value)

const sharedScreens = computed(() => rtc.getSharedScreens().value)

onBeforeMount(async () => {
    if (!roomStore.getActiveSession.code) {
        try {
            roomData.value = await roomStore.fetchRoom(route.params.roomCode)
            if (userStore.getUser.name !== '') {
                const isMember = await roomStore.isMemberOfRoom(route.params.roomCode)
                if (isMember) {
                    isEntranceOpen.value = false
                    roomStore.requestToJoinSession(route.params.roomCode, roomData.value.passcode, undefined)
                }
            }
        } catch (err) {
            console.log('err', err)
        }
    } else {
        isEntranceOpen.value = false
    }
})

const isOpenInfoDialog = ref(false)

const closeEntrance = () => {
    console.log("close entrance closed");
    isEntranceOpen.value = false
}

const mouseEnter = () => {
    roomStore.setActiveSessionPreference("bottomBar", "isOpen", true)
}

const infoDialogRef = ref(null)
const infoDialogIconRef = ref(null)

const clickOutsideInfoDialog = (event) => {
    if (isOpenInfoDialog.value && !infoDialogRef.value.contains(event.target) && !infoDialogIconRef.value.contains(event.target)) {
        isOpenInfoDialog.value = false;
    }
}

onMounted(() => {
    document.addEventListener('click', clickOutsideInfoDialog);
});

onBeforeUnmount(() => {
    document.removeEventListener('click', clickOutsideInfoDialog);
});


const activeSessionId = computed(() => roomStore.getActiveSession.room_session_id)

const mouseLeave = () => {
    roomStore.setActiveSessionPreference("bottomBar", "isOpen", false)
}

watchEffect(async () => {
    if (activeSessionId.value > -1) {
        await rtc.makeConfig(roomStore, userStore)
        console.log("watcher çalıştı");
    }
})

const copyToClipboard = (value) => {
    navigator.clipboard.writeText(value);

}
</script>
